<section>
    <a class="al-content-center" href="./index.html">
        <img id="footer-logo" height="100" width="200" src="./assets/logomark.svg" alt="Beat Current Logo">
    </a>
    <p>&copy; 2024 Beat Current. All Rights Reserved.</p>
</section>
<section id="socials-container">
    <a class="socials" href="https://www.instagram.com/">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a class="socials" href="https://www.facebook.com/">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a class="socials" href="https://x.com/">
        <i class="fa-brands fa-twitter"></i>
    </a>
    <a class="socials" href="mailto:support@beatcurrent.com">
        <i class="fa-regular fa-envelope"></i>
    </a>
</section>
