main {
    section {
      padding: 8rem 10rem;
      padding-top: 8rem;
    }
}

#info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#album-header {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#album-img {
  object-fit: cover;
  border-radius: 10px;
}

#album-main {
  flex: 0 0 50%;
  width: clamp(300px,40%,90vw);
  padding: 2rem;
}

#album-desc a{
  color: var(--secondary-color);
  text-decoration: none;
}

#album-desc a:hover{
  color: var(--accent-color);
}


#album-main p {
  font-size: 1.5rem;
}

#songs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#songs-table {
  width: clamp(300px,80% ,1200px);
  table-layout: auto;
}

table th:nth-of-type(1) {
  text-align: left;
}

th { 
  border-bottom: 1px solid var(--secondary-color);
  padding-left: 0;
  padding-right: 0;
}

#songs-tbody td {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

/* FAVORITED */
tr.songs-tr.favorited span#empty-star,
#songs-tbody tr:hover span#empty-star {
  display: none;
}

tr.songs-tr.favorited {
    background-color: rgb(255, 255, 255, 0.1);
}

#songs-tbody tr:hover span#solid-star{
  display: block;
}
tr.songs-tr:not(.favorited) span#solid-star {
  display: none;
}

/* Cloneable Tr */
#songs-tbody tr:nth-of-type(1) {
  display: none;
}

#th-track {
  width: 90%;
}

#th-fav {
  width: 10%;
}

tr.songs-tr.playlist-add td.song-num{
  width: 10%;
}

tr.songs-tr.playlist-add td.song-name {
  text-align: left;
  width: 65%;
}

tr.songs-tr.playlist-add td.song-duration {
  text-align: right;
  width: 10%;
}

tr.songs-tr.playlist-add td.song-favorited{
  text-align: center;
  width: 15%;
}

#song-wrapper {
  margin-bottom: 4rem;
}

tbody#songs-tbody #no-tracks {
  padding: 2rem;
  text-align: center;
}
