main > section {
    height: 100vh;
}


.artist-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.artist-container {
    flex: 0 0 45%;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    padding: 0;
    gap: 1rem;
    padding: 10px 5px;
    border-radius: 10px;

}


.artist-container .artist-img {
    transition: 
        width 0.5s ease-in-out,
        height 0.5s ease-in-out;
}

.artist-container:hover .artist-img {
    width: 150px;
    height: 150px;
}

.artist-container footer {
    flex: 1 0 100%;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 
        opacity 0.5s ease-in-out 0.5s,
        visibility 0.5s ease-in-out 0.5s,
        height 0.5s ease-in-out;
}

.artist-container:hover footer {
   visibility: visible;
   opacity: 1;
   height: unset;
}

.artist-prof {
    margin: 0;
    flex: 1 0 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 
        visibility 0.5s ease-in-out 0.5s,
        height 0.5s ease-in-out;
}

.artist-container:hover .artist-prof {
    flex: 1 0 30%;
    flex-direction: column;
    visibility: visible;
    height: unset; 
 }

.artist-name {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}


.artist-info {
    flex: 1 0 60%;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: 
        visibility 0.5s ease-in-out,
        height 0.5s ease-in-out,
        opacity 0.5s ease-in-out 0.2s;
}

.artist-container:hover .artist-info {
    opacity: 1;
    height: unset;
    visibility: visible;
}

.artist-info span {
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1;
}
