/* Define global colors */
:root {
    --primary-color: #000000; 
    --accent-color: #1ED760; 
    --secondary-color: #7b7a7a; 
    --error-color: #D71E1E;
    --light-color: #F5F5F5; 
    --gray-color: #F9F9F9;
    --header-bg: rgba(0, 0, 0, 0.17); 
    --gradient:linear-gradient(135deg, #1ED760 0%, #007BFF 50%, #D71E1E 100%);
}
* {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5{
    line-height: 1,2;
}

h1 {
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: -4%; 
    line-height: 1.2; 
}

h2 {
    font-size: 4.5rem; 
    font-weight: 400;
    letter-spacing: -2%;
    line-height: 1.3;
}

h3 {
    font-size: 3rem; 
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.35;
}

h4 {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.4;
}

h5 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.4;
}

span {
    font-size: 1.2rem;
    color: var(--gray-color);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--gray-color);
}

main {
    flex-grow: 1;
}

section {
    scroll-snap-align: center;
}

span {
    font-family: "Nunito Sans", serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--header-bg), transparent);
    padding: 0.5rem 3rem;
    position: fixed; /* Make the header float */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's on top of other content */
    transition: top 0.3s; /* Smooth hide/show animation */
  
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
    align-content: center;
    position: relative;
}

nav ul a {
    color: var(--gray-color); /* Initial text color */
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 100;
    position: relative;
    background: none;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    background-clip: text;
    transition: color 0.5s ease-in-out;
}

nav ul a:hover {
    color: var(--accent-color);
}

nav ul a:hover:after {
    top: 0; 
}


footer#footer-container {
    padding: 2rem 4rem;
}

footer#footer-container h3 {
   margin: 2rem 0;
}

#footer-hr {
    border: 0.5px solid var(--secondary-color);
    border-radius: 3px;
}

footer#footer-container ul li{
   text-decoration: none;
   list-style-type: none;
   font-size: 1.5rem;
   font-weight: 100;
}

button {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--secondary-color);
    opacity: 80%;
    transition-property: opacity, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

button:hover {
    color: var(--light-color);
    opacity: 100%;
    cursor: pointer;
}