main {
    display:flex;
    position: relative;
    section {
      padding: 8rem 10rem;
      padding-top: 8rem;

      h3 {
        margin: 2rem 0 0 0;
      }

      article h5 {
        line-height: 1;
      }


    }
}

#info-wrapper {
    flex-basis: 50%;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(217deg, #FF6F91, rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, #6A0572, rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, #FFF7DA, rgba(0,0,255,0) 70.71%);
    flex-direction: column;
    animation: hue 10s ease-in-out forwards infinite;
}

#info-wrapper img {
    width: 250px;
    height: 250px;
}

#music-wrapper {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4rem;
    img, h5, span {
        padding: 0;
        margin: 0;
    }
    
}

.music-card {
    display: grid;
    grid-template-columns: 60px minmax(30%, 60%) repeat(2,1fr);
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    align-items: end;
    position: relative;
    cursor: pointer;
    background: var(--primary-color);
    padding: 1rem;
    transition: opacity 0.5s ease-in-out, 
                transform 0.5s ease-in-out;
}

.music-card:after {
   content: 'test';
   height: calc(100% + 3px);
   width: calc(100% + 3px);
   background: var(--gradient);
   inset: -1.5px 0 0 -1.5px;
   z-index: -1;
   position: absolute;
   clip-path: ellipse(0 0 at 100% 0%);
   transition: clip-path 0.8s ease-in-out;
   animation: hue 10s ease-in-out infinite;
}

.music-card:hover:after {
    clip-path: ellipse(200% 200% at 100% 0%);
}

.music-card:hover .action-name {
   opacity: 1;
}

.music-card.slide-out.hidden {
    display: none;
}


.card-img {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    align-self: center;
}

.music-name {
    grid-column: 2 / 3;
    grid-row: 1 /  span 2;
}

.artist-name {
    grid-column: 2 / 3;
    grid-row: 3 /  4;
    align-self:start;
    font-style: italic;
    font-weight: 100;
}

.duration {
    grid-column: 3 / 4;
    grid-row: 1 / span 3;
    align-self: center;
}

.action-name {
    grid-column: 4 / 5;
    grid-row: 1 / span 3;
    align-self: center;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}


@media (max-width: 767px) {

   main {
    flex-direction: column;
   }

}