#landing-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-image: var(--gradient);
    height: fit-content;
    width: fit-content;
    background-clip: text;
    font-size: 8rem;
    color: transparent;
    animation: hue 10s infinite linear;
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

hr {
    border: 0.5px solid var(--secondary-color);
    border-radius: 3px;
}

main {
    
    section {
        padding: 8rem 10rem;
        

        header h2 {
            margin: 0 0 5rem 0;
        }
    }
    
    

    
}

/* Main grid container for all cards */
#weekly-cards-container {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto);
    justify-content: space-evenly;
    
}

/* Each card is a subgrid */
.weekly-card {
    display: grid;
    grid-template-columns:minmax(1rem,10rem) minmax(2rem,6rem) repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    padding: 2rem;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.weekly-card:hover {
    transform: translate(5px,-5px);
    background-color: rgba(0, 0, 0, 0.6);
}

.weekly-card h2 {
    grid-row: 1 / span 2; 
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    margin: 0;
}

.weekly-card img {
    grid-row: 1 / span 2;
    grid-column: 2 / 3; 
    align-self: center;
    justify-self: center;
}

.weekly-card h5 {
    grid-row: 1 / 2;
    grid-column: 3 / span 4; 
    margin: 0;
    line-height: 1.2rem;
    align-self: end; 
    text-wrap: nowrap;
    text-overflow: ellipsis;

}

.weekly-card span {
    grid-row: 2 / 3; 
    grid-column: 3 / span 4;
    color: var(--secondary-color);
    align-self: start;
}

#discover-container {
    display: flex;
    width: 100%;
    gap: 5rem;
    overflow: hidden;
    scroll-behavior: smooth;
   
}

#discover-wrapper header {
    display: flex;
    justify-content: space-between;
}

section#discover-wrapper button {
    font-size: 3rem;
}

.discover-card {
    scroll-snap-type: x mandatory;
    width: 200px;
    filter: grayscale(70%);
    transition: filter 0.5s ease-in-out;
    cursor: pointer;
}

.discover-card:hover {
    filter: grayscale(0);
}

.discover-card span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
}

.discover-card > * {
    padding: 0rem;
    margin: 0;
}

#mood-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.mood-container {
    padding: 2rem 4rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    flex: 1 0 30%;
    cursor: pointer;
    position: relative;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.mood-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    z-index: -1;
    border-radius: 3px;
    clip-path: circle(0% at 0 100%);
    transition: clip-path 0.8s ease-in-out;
}

.mood-container:hover {
    transform: translate(5px, -5px);
    
}

.mood-container:hover:after {
    clip-path: circle(150% at 0% 0%);
}

.mood-container h5 {
    margin: 0;
}