/* Discover card */

.discover-card {
    scroll-snap-type: x mandatory;
    width: 200px;
    transition: filter 0.5s ease-in-out;
    position: relative;
    cursor: pointer;
}

.discover-card:after {
    content: 'View Album';
    font-size: 2.2rem;
    color: var(--accent-color);
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    opacity: 0;
    backdrop-filter:blur(10px);
    filter: none;
    transition: opacity 0.5s ease-in-out;
}

.discover-card img {
    transition: transform 0.5s ease-in-out;
}
.discover-card:hover img {
    transform: scale(0.8);
}

.discover-card:hover:after {
    opacity: 1;
}
.discover-card span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
}

.discover-card > * {
    padding: 0rem;
    margin: 0;
}

#navModal {
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: none;
    padding: 10rem;
    flex-direction: column;
}

#navModal header {
    text-align: end;
}

#navModal header span i,
#navModal div.modal-content ul li a {
    text-decoration: none;
    font-size: 5vw;
    color: var(--light-color);
    list-style: none;
    transition: color 0.4s ease-in-out;
}

#navModal header span i:hover,
#navModal div.modal-content ul li a:hover {
    color: var(--accent-color);
}

#navModal div.modal-content ul li {
   
    color: var(--accent-color);
}

#navModal div.modal-content ul {
    list-style: none;
}